.Banner {
  color: white;
  height: 300px;
  width: 500px;
  position: relative;
  h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    font-weight: 100;

    img {
      height: 30px;
    }
  }
}
